/* Site header banner */
.baner {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--baner-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4) 40%
    ),
    url("../images/banner/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 200px 0px;
    }

    &__text {
        color: var(--akcent-light-color);
        @include get-font-style(normal, 900, 44px, 1.36, 0.06em);
        text-align: center;
        text-transform: uppercase;

        display: block;
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
    }
}
